.add-task-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .add-task-input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .add-task-button {
    flex-basis: 100px;
  }
  